@import "../../node_modules/preline/variants.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.hs-card {
    @apply border border-gray-200 dark:border-gray-700;
}

[dir="rtl"] .bg-gradient-to-r {
    @apply bg-gradient-to-l;
}
[dir="rtl"] {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
[dir="ltr"] {
    font-family: 'Raleway', sans-serif;
}
.stop-color-1 {
    stop-color: #2563eb; 
}

.stop-color-2 {
    stop-color: #4f46e5; 
}

.dark .stop-color-1 {
    stop-color: #3b82f6; 
}

.dark .stop-color-2 {
    stop-color: #6366f1; 
}